/******************** Accueil ***********************/

.app {
    width: 100vw;
    min-height: 100vh;
    background-color: #eae6df;
}

.accueil {
    position: fixed;
    top: 2%;
    right: 5%;
}


/* home */

.home {
    height: 100vh;
    border: solid 1px black;
}


/* about me */

.about_me {
    height: 100vh;
    padding-top: 7vh;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .about_me {
        flex-direction: row;
    }
}

.texte_about_me {
    width: 100vw;
    height: 50%;
    border: solid 1px black;
}

@media screen and (min-width: 768px) {
    .texte_about_me {
        width: 50%;
        height: 100%;
    }
}

.barres {
    width: 100vw;
    height: 50%;
    border: solid 1px black;
}

@media screen and (min-width: 768px) {
    .barres {
        width: 50%;
        height: 100%;
    }
}


/* parcours */

.parcours {
    height: 100vh;
    padding-top: 7vh;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .parcours {
        flex-direction: row;
    }
}

.texte_parcours {
    width: 100vw;
    height: 50%;
    border: solid 1px black;
}

@media screen and (min-width: 768px) {
    .texte_parcours {
        width: 50%;
        height: 100%;
    }
}

.image {
    width: 100vw;
    height: 50%;
    border: solid 1px black;
}

@media screen and (min-width: 768px) {
    .image {
        width: 50%;
        height: 100%;
    }
}


/* projets */

.projets {
    min-height: 100vh;
    padding-top: 7vh;
    border: solid 1px black;
}

.col-md-4 {
    padding: 0 !important;
}

.projet {
    height: 20vh;
}

@media screen and (min-width: 768px) {
    .projet {
        height: 35vh;
    }
}

.img_projet {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.img_projet:hover {
    filter: none;
    -webkit-filter: none;
}


/* contact */

.contact {
    height: 20vh;
    border: solid 1px black;
}


/******************** Header ***********************/

.bodyHeader {
    position: fixed;
    height: 7vh;
    width: 100vw;
}

.navbar {
    height: 7vh;
    background-color: #eae6df;
}

.nav-link {
    width: 10vw;
}

.navbar-nav {
    background-color: #eae6df;
}