@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

/******************** Accueil ***********************/

.app {
    width: 100%;
    min-height: 100vh;
    background-color: #eae6df;
}

.accueil {
    position: fixed;
    top: 2%;
    right: 5%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #eae6df;
}

.accueil:hover {
    cursor: pointer;
    color: black;
}


/* home */

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    font-family: 'Cerebri', sans-serif;
}

.presentation {
    width: 100%;
    height: 20%;
    text-align: center;
}

.identite {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .identite {
        flex-direction: row;
    }
}

.prenom_nom {
    width: 100%;
    height: 60%;
    font-family: 'Carter One', cursive;
    font-size: 2.5em;
    background: -webkit-linear-gradient(rgb(245, 140, 21), rgb(243, 44, 44));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 5%;
}

@media screen and (min-width: 350px) {
    .prenom_nom {
        font-size: 3.5em;
    }
}

@media screen and (min-width: 768px) {
    .prenom_nom {
        font-size: 5em;
        padding-left: 10%;
    }
}

.p_prenom_nom {
    margin: 0;
}

.photo {
    width: 100%;
    height: 40%;
}

.liens {
    width: 100%;
    height: 20%;
}

.fichiers {
    display: flex;
    height: 50%;
}

.div_telecharger {
    width: 50%;
    height: 40px;
    display: flex;
}

.bouton_telecharger {
    margin: auto;
    width: 80%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
}

@media screen and (min-width: 768px) {
    .bouton_telecharger {
        width: 60%;
    }
}

.bouton_telecharger:hover {
    background-color: white;
    border: solid 1px grey;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.titre_bouton_telecharger {
    margin: auto;
    font-size: 0.7em;
}

@media screen and (min-width: 350px) {
    .titre_bouton_telecharger {
        font-size: 1em;
    }
}

.reseaux {
    height: 50%;
}

.div_lien {
    text-align: center;
}

.lien_reseau {
    width: 50%;
    height: 100%;
    display: inline-block;
}

.lien_reseau_linkedin {
    text-align: right;
}

.lien_reseau_github {
    text-align: left;
}

.img_reseau {
    width: 40px;
    transition: transform 500ms;
}

@media screen and (min-width: 768px) {
    .img_reseau {
        width: 60px;
    }
}

.img_reseau:hover {
    transform: rotate(360deg);
}


/* about me */

.about_me {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

@media screen and (min-width: 768px) {
    .about_me {
        flex-direction: row;
    }
}

.texte_about_me {
    width: 100%;
    height: 50%;
    display: flex;
    padding: 5%;
    text-align: justify;
}

@media screen and (min-width: 768px) {
    .texte_about_me {
        width: 60%;
        height: 100%;
        font-size: 2em;
    }
}

.p_texte_about_me {
    margin: auto;
}

.barres {
    width: 100%;
    height: 50%;
    display: flex;
}

@media screen and (min-width: 768px) {
    .barres {
        width: 40%;
        height: 100%;
    }
}

.p_barres {
    width: 80%;
    margin: auto;
    padding-left: 5%;
    background-color: white;
}

@media screen and (min-width: 768px) {
    .p_barres {
        width: 40%;
    }
}


/* projets */

.projets {
    width: 100%;
    min-height: 100vh;
    padding-top: 2vh;
    font-family: 'Lato', sans-serif;
}

@media screen and (min-width: 768px) {
    .projets {
        padding-top: 5vh;
    }
}

.titre_projets {
    font-style: italic;
    font-size: 1.3em;
    text-decoration: underline;
    padding-top: 20%;
    padding-bottom: 2%;
}

@media screen and (min-width: 768px) {
    .titre_projets {
        padding-top: 10%;
    }
}

.row {
    margin: 0 !important;
}

.col-md-4 {
    padding: 0 !important;
}

.projet {
    height: 20vh;
}

@media screen and (min-width: 768px) {
    .projet {
        height: 35vh;
    }
}

.img_projet {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.img_projet:hover {
    filter: none;
    -webkit-filter: none;
}

.div_autres_projets {
    padding: 0 5%;
    text-align: justify;
}


/* parcours */

.parcours {
    padding-top: 7vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

@media screen and (min-width: 768px) {
    .parcours {
        flex-direction: row-reverse;
        height: 100vh;
    }
}

.image {
    width: 100%;
    height: 50%;
    display: flex;
}

@media screen and (min-width: 768px) {
    .image {
        width: 50%;
        height: 100%;
        padding-left: 5%;
    }
}

.img_parcours {
    width: 100%;
    margin: auto;
}

.texte_parcours {
    width: 100%;
    height: 50%;
    display: flex;
    padding: 5%;
    text-align: justify;
    display: flex;
}

@media screen and (min-width: 768px) {
    .texte_parcours {
        width: 50%;
        height: 100%;
        font-size: 2em;
    }
}

.p_texte_parcours {
    margin: auto;
}

.bouton_lien {
    width: 200px;
    height: 30px;
    background-color: black;
    color: white;
    display: flex;
}

@media screen and (min-width: 768px) {
    .bouton_lien {
        width: 400px;
        height: 50px;
        font-size: 1em;
    }
}

.bouton_lien:hover {
    background-color: white;
    color: black;
    border: solid 1px grey;
    cursor: pointer;
    text-decoration: none;
}

.p_bouton_lien {
    margin: auto;
    font-size: 0.8em;
}

.div_bouton_autres_projets {
    padding-top: 5%;
    padding-left: 5%;
}

@media screen and (min-width: 768px) {
    .div_bouton_autres_projets {
        font-size: 2em;
    }
}


/* contact */

.contact {
    min-height: 20vh;
    font-family: 'Lato', sans-serif;
}

@media screen and (min-width: 768px) {
    .contact {
        font-size: 2em;
        line-height: 20vh;
    }
}

.lien_contact {
    border-bottom: solid 1px;
}

.lien_contact:hover {
    text-decoration: none;
    background-color: #007BFF;
    color: white;
}


/******************** Autres projets ***********************/

.bodyAutres_projets {
    background-color: #eae6df;
    width: 100vw;
    min-height: 100vh;
}

.div_autre_projet {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .div_autre_projet {
        flex-direction: row;
    }
}

.texte_autre_projet {
    width: 100%;
    height: 50%;
    display: flex;
    background-color: blue;
}

@media screen and (min-width: 768px) {
    .texte_autre_projet {
        width: 50%;
        height: 100%;
    }
}

.div_texte_autre_projet {
    margin: auto;
}

.lien_autre_projet {
    width: 100%;
    height: 50%;
    background-color: red;
}

@media screen and (min-width: 768px) {
    .lien_autre_projet {
        width: 50%;
        height: 100%;
    }
}


/******************** Contact ***********************/

.bodyContact {
    background-color: #eae6df;
    min-height: 95vh;
}

.titreContact {
    font-size: 1em;
}

@media screen and (min-width: 768px) {
    .titreContact {
        font-size: 2em;
    }
}


/******************** Footer ***********************/

.bodyFooter {
    height: 7vh;
    width: 100%;
    background-color: #eae6df;
}

.chevron {
    width: 30px;
    border: solid 1px black;
    color: white;
}

.chevron:hover {
    cursor: pointer;
    background-color: white;
}


/******************** Header ***********************/

.bodyHeader {
    position: fixed;
    height: 7vh;
    width: 100%;
    font-family: 'Cerebri', sans-serif;
    font-size: 0.8em;
}

.navbar {
    width: 100%;
    height: 7vh;
    background-color: #eae6df;
}

.nav-link {
    width: 10vw;
    color: black !important;
}

.navbar-nav {
    background-color: #eae6df;
}


/******************** Not Found ***********************/

.bodyNotFound {
    background-color: #eae6df;
    min-height: 93vh;
    display: flex;
}

.titreNotFound {
    margin: auto;
}


/******************** Parcours ***********************/

.bodyParcours {
    background-color: #eae6df;
    width: 100%;
    min-height: 100vh;
}

.div_titres_parcours {
    width: 90%;
    height: 7vh;
    display: flex;
}

.titre_parcours {
    width: 50%;
    height: 100%;
    display: flex;
}

.titre_parcours_detail {
    margin: auto;
    color: black;
    font-family: 'Cerebri', sans-serif;
}

.titre_parcours_detail:hover {
    color: black;
    text-decoration: none;
}

.div_exp_pro_tour {
    padding: 5%;
}

@media screen and (min-width: 768px) {
    .div_exp_pro_tour {
        padding: 2%;
    }
}

.div_exp_pro {
    border: solid 1px black;
    background-color: white;
    padding: 2%;
}

.h6_exp_pro {
    color: grey;
}

.div_formation {
    border: solid 1px grey;
    border-radius: 15px;
    background-color: white;
    padding: 2%;
}